# Cartelle globali
node_modules
dist
release

# Cartelle del frontend Angular
Front-End/node_modules/
Front-End/.angular/
Front-End/.vscode/
Front-End/dist/

# File temporanei o di build
*.log
*.tmp
*.lock
*.cache
.DS_Store
Thumbs.db
**/node_modules/
**/.angular/
**/.vscode/
