<form #form="ngForm" (ngSubmit)="submitRatings()">
<h1 class="rating-title">Inserisci un rating</h1>
<div style="margin-bottom: 30px;">
    <div class="form-container">
        <table class="input-table">
          <tbody>
            <tr>
              <td>N° S.C.U./Verbale:</td>
              <td><input name="verbale" type="text" [(ngModel)]="verbale" required></td>
            </tr>
            <tr>
              <td>Data:</td>
              <td><input name="data" type="date" [(ngModel)]="data" required></td>
            </tr>
            <tr>
              <td>Operatore/i:</td>
              <td><input name="operatore" type="text" [(ngModel)]="operatore" required></td>
            </tr>
            <tr>
              <td>Ditta:</td>
              <td><input name="ditta" type="text" [(ngModel)]="ditta" required></td>
            </tr>
            <tr>
              <td>Tipologia attività:</td>
              <td><input name="tipologiaAttivita" type="text" [(ngModel)]="tipologiaAttivita" required></td>
            </tr>
          </tbody>
        </table>
      </div>
      
    <table class="rating-table">
        <thead>
            <tr>
                <th>CAP. I - CARATTERISTICHE STRUTTURE ATTIVITA PERMANENTI</th>
                <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questionsCAP1; let i = index">
                <td >
                  {{ question.descrizione }}
                </td>
                <td *ngFor="let option of ratingMultipliers">
                    <label>
                        <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

        <table class="rating-table">
            <thead>
                <tr>
                    <th>CAP. II – CARATTERISTICHE LOCALI ATTIVITÀ PERMANENTI</th>
                    <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questionsCAP2; let i = index">
                    <td >
                      {{ question.descrizione }}
                    </td>
                    <td *ngFor="let option of ratingMultipliers">
                        <label>
                            <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="rating-table">
            <thead>
                <tr>
                    <th>CAP. V – CARATTERISTICHE LOCALI ATTIVITÀ PERMANENTI</th>
                    <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questionsCAP5; let i = index">
                    <td>
                        {{ question.descrizione }}
                    </td>
                    <td *ngFor="let option of ratingMultipliers">
                        <label>
                            <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        
        

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. VI – GESTIONE RIFIUTI</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP6; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. VII – RIFORNIMENTO IDRICO</th>
                            <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP7; let i = index">
                            <td>
                                {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers; let j = index">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}-option-{{ j }}" [value]="option"
                                           [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. VIII – IGIENE PERSONALE</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP8; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. IX – IGIENE PRODOTTI ALIMENTARI</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP9; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. X – IMBALLAGGI</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP10; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>CAP. XII – FORMAZIONE</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionsCAP12; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>ETICHETTATURA DEI PRODOTTI ALIMENTARI</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionEtichettaturaProdottiAlimentari; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>PRINCIPI DEL SISTEMA HACCP</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionPrincipiSistemaHACCP; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="rating-table">
                    <thead>
                        <tr>
                            <th>SISTEMA DI AUTOCONTROLLO</th>
                           <th *ngFor="let option of ratingMultipliers">{{ option.testo }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questionSistemaDiAutocontrollo; let i = index">
                            <td >
                              {{ question.descrizione }}
                            </td>
                            <td *ngFor="let option of ratingMultipliers">
                                <label>
                                    <input type="radio" name="question-{{ question.id }}" [value]="option"
                                   [(ngModel)]="question.risposta" required>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

    <button type="button" style="background-color: cadetblue;" (click)="calculatePoints()">Calcola punteggio</button>
    
    <div style="align-self: center;">
    <button style="background-color: rgb(151, 236, 236);" routerLink="/">Indietro</button>
    <button [disabled]="!form.valid">Invia</button>
    <span *ngIf="totalRatingPoints !== null" [style.color]="getColorForRating(totalRatingPoints)">Punteggio totale: {{ totalRatingPoints }}</span>
    <div class="legend">
        <span style="color: green;">●</span> Condizione ottima - controlli ogni 3 anni - RANGE: 124.8 in sù<br>
        <span style="color: lightcoral;">●</span> Condizione media - controlli ogni 2 anni - RANGE: 62.4 a 124.8<br>
        <span style="color: red;">●</span> Condizione pessima - controlli ogni anno - RANGE: 31.2 a 62.4
      </div>
    </div>
    </div>
</form>