/* Stili base per la tabella */
.rating-circle {
  width: 5px;  
  height: 5px;  
  border-radius: 50%;  /* imposta border-radius al 50% per avere un cerchio perfetto */
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

button {
  padding: 5px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Stili per il dettaglio del rating */
div {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2, h3, p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  color: #4CAF50;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  /* When the screen size is 600px or lower */

  table, thead, tbody, th, td, tr {
      display: block;
  }

  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  tr { margin: 0 0 1rem 0; }
  
  tr:nth-child(odd) {
      background: #f8f8f8;
  }
  
  td {
      border: none;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding-left: 50%;
  }
  
  td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
  }

  button{
    margin-top: 10px;
  }
  
  td:nth-of-type(1):before { content: "ID"; }
  td:nth-of-type(2):before { content: "Data"; }
  td:nth-of-type(3):before { content: "Azione"; }
}
